<mat-card class="bg-transparent" style="background-color: antiquewhite;">
    <div class="flex">
      <div class="w-1/3 p-4">
        <mat-card>
          <mat-card-content>
            <canvas id="line" width="500" height="400"></canvas>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="w-1/3 p-4">
        <mat-card>
          <mat-card-content>
            <canvas id="bar"  width="500" height="400"></canvas>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="w-1/3 p-4">
        <mat-card>
          <mat-card-content style="display: block; box-sizing: border-box; height: 360px; width: 389px;">
                <canvas _ngcontent-ng-c2090578295="" id="pie"  style="height: 310px;"></canvas> </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card>
  