/* Define CSS classes for each status */
.paid-button {
    background-color: green;
    color: white;
}

.pending-button {
    background-color: yellow;
    color: black;
}

.failed-button {
    background-color: red;
    color: white;
}
