h3{
font-size:20px;
margin: 0px;
}
h1{
    font-size: 35px;
}
.active {
    background-color: #ffcccc; /* Example: Change the background color to pink for the active card */
    transform: scale(1.05); /* Example: Scale the card up when it's active */
  }
  
 
  